<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Siam工作台</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://lib.baomitu.com/jquery/3.6.0/jquery.min.js"></script>
    <!-- 自定义应用名称 -->
    <meta name="application-name" content="Siam工作台 自用">
    <!-- 自定义图标 -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://s4.ax1x.com/2022/01/01/ToP7X4.png">


    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-plus"></script>
    <style>
        html,body{
            height: 100%;
        }
        iframe{
            width:100%;
            height:100%;
            min-height: 890px;
        }
    </style>
</head>
<body>
<div id="app">
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="临时文本" name="1" :lazy="true">
            <el-input
                    v-model="temp_text"
                    :rows="100"
                    type="textarea"
                    @change="temp_text_change"
                    placeholder="Please input"
            ></el-input>
        </el-tab-pane>
        <el-tab-pane label="工作备注" name="1_work" :lazy="true">
            <iframe src="https://txtpad.cn/siamwork" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="临时文本N" name="12" :lazy="true">
            <el-input
                    v-model="temp_text_n"
                    :rows="100"
                    type="textarea"
                    placeholder="Please input"
            ></el-input>
        </el-tab-pane>
        <el-tab-pane label="注释加解密" name="2" :lazy="true">
            <iframe src="http://tool.chinaz.com/tools/textencrypt.aspx" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="Siam导航" name="3" :lazy="true">
            <iframe src="http://pan.siammm.cn" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="Siam博客" name="4" :lazy="true">
            <iframe src="http://www.siammm.cn" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="snapdrop内网传输" name="5" :lazy="true">
            <iframe src="https://snapdrop.net/" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="identifyTab" name="6" :lazy="true">
            <iframe src="https://m.infinitynewtab.com/?mAn797" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="identifyTab2" name="62" :lazy="true">
            <iframe src="https://m.inftab.com/#/" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="腾讯翻译" name="7" :lazy="true">
            <iframe src="https://fanyi.qq.com/" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="mysql2phpdoc" name="8" :lazy="true">
            <iframe src="http://www.siammm.cn/work/mysql2phpdoc.html" frameborder="0"></iframe>
        </el-tab-pane>
        <el-tab-pane label="面向对象学习笔记" name="9_oop" :lazy="true">
            <iframe src="https://txtpad.cn/siamoop" frameborder="0"></iframe>
        </el-tab-pane>
    </el-tabs>
</div>
<script>
    const App = {
        data() {
            return {
                activeName: '1',
                temp_text:"",
                temp_text_n:"",
            };
        },
        created:function(){
            this.temp_text_api("get");
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event)
            },
            temp_text_change(res){
                this.temp_text_api("set")
            },
            temp_text_api(mode)
            {
                let _this = this;
                console.log(_this.temp_text)
                $.ajax({
                    url:"./work/temp_text_api.php",
                    data:{
                        mode: mode,
                        temp_text: _this.temp_text,
                      },
                      type:"post",
                      success(res){
                          if (mode === "get"){
                              _this.temp_text = res
                          }
                      }
                })
            }
        },
    };
    const app = Vue.createApp(App);
    app.use(ElementPlus);
    app.mount("#app");
</script>
</body>
</html>