<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多行文本处理</title><!-- import CSS -->
  <!--<link rel="stylesheet" href="./static/element.css">-->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    
    <i class="el-icon-share"></i> 用处：mysql查询结果 -> 复制整列 -> 去除换行符 -> 首尾增加 -> 得到可以放到sql where in 中的字符串
    <br /><br /><br />
    
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="文本内容">
            <el-input
              type="textarea"
              :rows="5"
              placeholder="请输入内容"
              v-model="form.textarea">
            </el-input>
        </el-form-item>
        <el-form-item label="行首内容">
             <el-input
              placeholder="行首内容"
              v-model="form.linehead"
              clearable>
            </el-input>
        </el-form-item>
        <el-form-item label="行尾内容">
             <el-input
              placeholder="行尾内容"
              v-model="form.linefoot"
              clearable>
            </el-input>
        </el-form-item>
        
    </el-form>
    <el-button @click="onClearnRN">去除换行符</el-button>
    <el-button type="primary" @click="onAddLineHeadFoot" >首尾增加</el-button>
    <el-button type="success" @click="onResetDemo">恢复示例</el-button>
    
    

</div>
  
<script src="./static/vue.js"></script>

<script src="./static/element.js"></script>
<script>
new Vue({
  el: '#app',
  data: function() {
    return { 
        form: {
            textarea: "示例，点击处理看看效果吧\n1\n2\n3",
            linehead: '"',
            linefoot: '"'
        },
    }
  },
  methods:{
    onClearnRN: function() {
        for (var e = this.form.textarea.split(/[\n]/), t = "", l = 0, r = e.length; l < r; l++)
            t += e[l] + ",";
        t = t.substring(0, t.lastIndexOf(",")),
        this.form.textarea = t
    },
    onAddLineHeadFoot: function() {
        for (var e = this.form.textarea.split(/[\n]/), t = "", l = 0, r = e.length; l < r; l++)
            t += this.form.linehead + e[l] + this.form.linefoot + "\n";
        t = t.substring(0, t.lastIndexOf("\n")),
        this.form.textarea = t
    },
    onResetDemo: function() {
        this.form.textarea = "示例，点击处理看看效果吧\n1\n2\n3",
        this.form.linehead = '"',
        this.form.linefoot = '"'
    }
  }
})
</script>

</body>
</html>