<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>多行文本处理</title><!-- import CSS -->
  <!--<link rel="stylesheet" href="./static/element.css">-->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    
    <i class="el-icon-share"></i> 用处：txt文件 按行分割成新的文件
    <br /><br /><br />
    <hr />
    
    每份多少行
    <el-input v-model="splitHang" style="width:100px;"  placeholder="每份多少行"></el-input>
    <br /><br />
    <el-upload
      class="upload-demo"
      :on-change="handleChange"
      :auto-upload="false"
      >
      <el-button size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">这个按钮上传txt文件,自动分割</div>
    </el-upload>
    
    
     <el-link :href="result_item.url" target="_blank"  v-for="result_item in result" :download="result_item.name" type="success" style="display:block;">点击下载{{ result_item.name }}<br/></el-link> 

    
    

</div>
  
<script src="./static/vue.js"></script>

<script src="./static/element.js"></script>
<script>
// ExportTxt("文件名","文件内容")

// function ExportTxt(name, data) {
//     const urlObject = window.URL || window.webkitURL || window;
//     const export_blob = new Blob([data]);

//     const save_link = document.createElementNS("http://www.w3.org/1999/xhtml", "a");
//     save_link.href = urlObject.createObjectURL(export_blob);
//     save_link.download = name;

//     const ev = document.createEvent("MouseEvents");
//     ev.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
//     save_link.dispatchEvent(ev);
// }

function split_array(arr, len) {
	var a_len = arr.length;
	var result = [];
	for (var i = 0; i < a_len; i += len) {
		result.push(arr.slice(i, i + len));
	}
	return result;
}
	


new Vue({
  el: '#app',
  data: function() {
    return { 
        result:[],
        splitHang:10
    }
  },
  methods:{
    handleChange: function(file, fileList) {
        let that = this;
        const reader = new FileReader()
        reader.readAsText(file.raw,'utf8')
        reader.onload = ()=>{
            
            let newText = reader.result.split("\r\n");
            let result = split_array(newText, parseInt(this.splitHang));
            
            let setterResult = [];
            for(let i=0; i <result.length; i++){
                let item = result[i];
                let blob = new Blob([item.join("\r\n")], {type: 'text/plain'})
                let blobUrl = window.URL.createObjectURL(blob)
                setterResult.push({
                    name:"分割结果_"+i + ".txt",
                    url:blobUrl
                })
            }
            that.result = setterResult;
        }
    }
    
  },
})
</script>

</body>
</html>